.footer {
  align-content: space-around;
  background: var(--input-linear2);
  bottom: 0;
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  height: 3rem;
  padding: 10px;
  position: fixed;
  width: 100vw;
}

.footer :first-child:hover {
  animation: shake 0.3s infinite ease;
}

.footer-button {
  align-content: center;
  border: none;
  border-radius: 5px;
  color: red;
  display: flex;
  filter: invert();
  flex-flow: row wrap;
  height: 30px;
  outline: none;
  transition: 0.1s linear;
}
