.header {
  align-content: space-around;
  background: var(--header);
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: Nunito , sans-serif;
  font-size: 24px;
  font-weight: 900;
  height: 3rem;
  padding: 10px;
  text-align: center;
  width: 100vw;
}

.header :first-child:hover {
  animation: shake 0.3s infinite ease;
}

.header button {
  align-content: center;
  background: none;
  border: none;
  border-radius: 5px;
  display: flex;
  filter: invert();
  flex-flow: row wrap;
  height: 25px;
  outline: none;
  padding: 10px;
  transition: 0.1s linear;
}

.header button:hover {
  transform: scale(1.05);
}
