@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;900&display=swap') ;

:root {

  --input-linear: linear-gradient(120deg, #fb0, #f65314);

  --input-linear2: linear-gradient(120deg, #9625035d, #3f0f017a);

  --button-linear: linear-gradient(120deg, #fb0, #f65314, #ad0d48);

  --button-disabled: #acacac;

  --button-success: rgb(18, 151, 107);

  --white: white;

  --black: black;

  --gray: gray;

  --border-radius: 10px;

  --border-height: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./Styles/images/table.jpg') no-repeat center center fixed;
  background-size: cover;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}
